/.env
/ezpaarse/exclusions/
/ezpaarse/middlewares/
/ezpaarse/platforms/
/ezpaarse/resources/
/ezpaarse/exclusions/scrapers/
/webdav/user.passwd
/ezstats-logs/data/
/ezstats-logs/DavLock
/ezstats-logs/DavLock.dir
/ezstats-logs/DavLock.pag
